.remark-slide .title-slide {
  padding-top: 30%;
  background: linear-gradient(0deg, #56949f 0% 42%, #faf4ed 42% 100%);
  background-size: cover;
}

.title-slide .title h1 {
  font-weight: bold;
  font-size: 200%;
  text-align: right;
  color: #575279;
  text-shadow: 0 0 0px #fffaf3;
  background-color: transparent;
}

.title-slide h2, .title-slide h3{
  font-weight: normal;
  margin: 0 0 1rem;
  color: #faf4ed;
  text-align: right;
  background-color: transparent;
}

.title-slide .remark-slide-number {
  display: none;
}

.remark-slide-content .remark-slide-number {
  position: absolute;
  bottom: 25px;
  padding-right: 0px;
  font-size: 50%;
}

.remark-slide-content {
  border-top: 100px solid #56949f;
  border-bottom: 20px solid #56949f;
  font-size: 24pt;
  background: #faf4ed;
  color: #575279;
}

.remark-slide-content li {
  margin: 0 0 1rem;
}


.remark-slide-content h1 {
  font-size: 150%;
  color: #f4ede8;
  margin-top: -12%;
  margin-left: -00px;
  margin-bottom: 7.5%;
}
.remark-slide-content h2 {
  font-size: 120%;
}
.remark-slide-content h3 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
}
a, a > code {
  color: #b4637a;
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 1em;
  right: 10%;
  padding-right: 1em;
  font-size: 60%;
}
.legend {
  position: relative;
  right: 0%;
  padding-top: 0em;
  font-size: 60%;
  text-align: right;
}
.remark-code-line-highlighted     { background-color: #ea9d34; }

.inverse {
  background: linear-gradient(0deg, #56949f 0% 42%, #f2e9e1 42% 100%);
  text-shadow: 0 0 20px #f2e9e1;
  border-top: 0px;
  border-bottom: 0px;
}

.inverse h1 {
  color: #575279;
  padding-bottom: 0.5rem;
}

.section-title {
  border: 0px;
  background: linear-gradient(90deg, #56949f 0% 25%, #faf4ed 25% 100%);
  background-size: cover;
}
.remark-slide .section-title h1 {
  font-size: 300%;
  position: absolute;
  bottom: 2rem;
  left: 0rem;
  width: 100%;
  background: linear-gradient(90deg, #faf4ed 0% 25%, #56949f 25% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-title2 {
  border: 0px;
  background: linear-gradient(90deg, #907aa9 0% 25%, #faf4ed 25% 100%);
  background-size: cover;
}
.remark-slide .section-title2 h1 {
  font-size: 300%;
  position: absolute;
  bottom: 2rem;
  left: 0rem;
  width: 100%;
  background: linear-gradient(90deg, #faf4ed 0% 25%, #907aa9 25% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Two-column layout */
.left-column {
  width: 68%;
  height: 90%;
  float: left;
}

.right-column {
  width: 28%;
  height: 90%;
  float: right;
}

.left-sm-column {
  width: 32%;
  height: 90%;
  float: left;
}

.right-lg-column {
  width: 65%;
  height: 90%;
  float: right;
}

.right-column .tab-in {
  margin-left: 2em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 90%;
  max-height: 60vh;
  background: transparent;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.smimg img{
  max-height: 10vh;
  background: transparent;
  object-fit: contain;
}

.midimg img{
  max-height: 24vh;
  background: transparent;
  object-fit: contain;
}

.lgimg img{
  max-height: 32vh;
  background: transparent;
  object-fit: contain;
}

blockquote {
  border-left: solid 5px #f2e9e1;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #797593;
  border-bottom: 1px solid #797593;
}
.remark-slide table thead th { border-bottom: 1px solid #f2e9e1; }
th, td { padding: 5px; }

.remark-slide tr:nth-child(even) {
  background: #f2e9e1;
}
.remark-slide thead, .remark-slide tfoot {
   background: #907aa9;
   color: #f4ede8;
}

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
